.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card-img-top {
    width: 100%;
    height: 250px;
}

.card-address {
  font-size: 14px;
}

.App-link {
  color: #61dafb;
}

.pagination {
  float: left;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

.card {
  margin-top: 20px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
}

.slide {
  border-radius: 8.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
}

.img-carousel {
  display: grid!important;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Adjust the height as needed */
}

.img {
  border-radius: 50px;
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  max-height: 50%; 
}

.slick-dots {
  padding: 130px!important;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.gm-err-container {
  height: 70%;
  width: 50%;
}

.map {
  border-radius: 10px;
}

.slick-list {
  margin-top: -150px!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
